<header class="title" >
       User Table
</header>
<div class="columns">
    <div class="column">
        <table class="table is-striped is-hoverable" *ngIf="users.length > 0; else noUsers">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>UserName</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users; index as i">
                    <td>{{ user.name }}</td>
                    <td>
                        {{ user.username }}
                    </td>
                    <td ngrHighlighter>{{ user.email}}</td>
                    <td>
                        <button class="button is-danger is-small" (click)="handleDeleteUser(i)">
                X
              </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <ng-template #noUsers>
            <p class="no-user">No Users Available</p>
        </ng-template>
    </div>
</div>